<div class="row">
	<div class="eightcol">
		
<% @cats.each do |cat| %>
	<div class="main_category_wrapper">
		<div class="main_cat">
			<%= cat.name %>
		</div>
		<% cat.sub_cats.find(:all, :order => "position").each do |sub_cat| %>
			<li class="sub_cats">
				<a href="/search?search=<%=sub_cat.name%>"><%= sub_cat.name %></a><%=  %>
			</li>
		<% end %>
		<div class="newline"></div>
	</div>
<% end %>
	</div>

	<div class="fourcol last">
	</div>


</div>


<% title "Classifieds - Browse" %>