<% title "Classifieds Terms of Use" %>
<div id="progress_box">
	<div class="step filled">Create your ad</div>
	<div class="step filled">Add Photos</div>
	<div class="step filled">Terms of Use</div>
	<div class="step">Thank You</div>
	<div class="newline"></div>
</div>
this is where terms of use should go

<%= link_to "I Agree", thank_you_path, :class => "button", :style => "width: 300px; font-size: 14px;" %>