<% title "Thank You" %>
<div id="progress_box">
	<div class="step filled">Create your ad</div>
	<div class="step filled">Add Photos</div>
	<div class="step filled">Terms of Use</div>
	<div class="step filled">Thank You</div>
	<div class="newline"></div>
</div>
thank you